<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- JQuery core -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- JQuery Link -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
        integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--personal CSS  -->
    <link rel="stylesheet" href="/css/style.css" />

    <title>Ticket Scalper</title>

</head>

<body style="background-color: #white;">
    <!--Nav Bar-->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid" style="background-color: #171717; border-color: #171717;">

            <a href="">
                <img alt="Logo" src="/images/ticket-scalper.png" width="250" height="150">
            </a>
            <img src="https://fontmeme.com/permalink/210628/83f0d30d6a78f62dcfb300879a927465.png" alt="sin-city-font"
                border="0"></a>

            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"><img
                            src="https://fontmeme.com/permalink/210628/942350010c4efe2028f22e167965a0c2.png"
                            alt="sin-city-font" border="0"></a>

                {{#if logged_in}}

               
                <li class="nav-item">
                    <a class="nav-link" href="#"><img
                            src="https://fontmeme.com/permalink/210630/c8cf1c0141c2e35b69db84d853e3d336.png"
                            alt="sin-city-font" border="0"> </a>
                </li>

                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="#"><img
                            src="https://fontmeme.com/permalink/210628/cd9db6503d0fbda57c8592e9238096b4.png"
                            alt="sin-city-font" border="0"></a>
                </li>
                {{/if}}
            </ul>
        </div>
    </nav>

    {{{ body }}}



    {{!-- This needs to be there to toggle which js script is being ran while on site --}}

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}

</body>

</html>