<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <!-- JQuery core -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <!-- JQuery Link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
    integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!--personal CSS  -->
  <link rel="stylesheet" href="/css/style.css" />

  <title>Ticket Scalper</title>

</head>

<body style="background-color: #white;">
  <!--Nav Bar-->
  <nav class="navbar navbar-expand-lg navbar-light navbarColor">
    <!-- Navbar Container -->
    <div class="container-fluid d-flex flex-row NavbarContainer">
      <!-- Navbar row -->
      <div class="row w-100 d-flex justify-content-around">
        <!-- Site Image -->
        <div class="col-lg-2 col-md-2 displayImage">
          <a class="navbar-brand displayImage" href="/homepage">
            <img class="displayImage" src="/images/ticket-scalper.png" />
          </a>
        </div>
        <!-- Navbar Main Text -->
        <div class="col-lg-7 col-md-8 col-sm-9 text-center m-auto navbarMaintext">
          <h5 style="font-family: Phosphate; font-size: 2.5rem; ">Welcome to Ticket Scalper </h5>
        </div>
        <!-- Navbar Links -->
        <div class="col-lg-3 col-md-2 col-sm-3 d-flex flex-wrap">
          <button class="navbar-toggler collapseBtn" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mx-auto">
              <a class="nav-link active" style="color: #ededed" aria-current="page" href="#">Local</a>
              <a class="nav-link" style="color: #ededed" href="#">Tickets</a>
              {{#if logged_in}}
              {{!-- find a way to make a route to log out using fetch --}}
              <a class="nav-link" style="color: #ededed" href="/" id="logout">Logout</a>
              {{else}}
              <a class="nav-link" style="color: #ededed" href="/login" id="signIn">Sign-In</a>

              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  {{{ body }}}



  {{!-- This needs to be there to toggle which js script is being ran while on site --}}

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{else}}
  <script src="/js/Homepage.js"></script>
  {{/if}}

</body>

</html>