{{!-- This page shows the results and details of one clicked on event. From either the results page or the profile page
--}}


<div class="text-center">
    <h2>{{name}}</h2>
    <p>get image</p>
    <p>Venue</p>
    <input type="text" value="">
    <p>description</p>
    <input type="text" value="">
    <p>ticket price</p>
    <input type="text" value="">
    <p>start date</p>
    <input type="text" value="">
    <p>Start Time</p>
    <input type="text" value="">

    <p>
        <button class="btn btn-primary">Add to Profile</button>
        <button class="btn btn-primary">Delete</button>
    </p>
</div>


<script src="./js/Homepage.js"></script>

