{{!-- this will be our default "/" --}}


{{!-- This will go to the Results page --}}
    <!--Search Bar-->
    <div class="container">
        <nav class="navbar navbar-light bg-light">
            <form class="container-fluid">
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">&#128269;</span>
                    <input type="text" class="form-control" placeholder="Event, artist or team"
                        aria-label="Event, artist or team" aria-describedby="basic-addon1">
                </div>
            </form>
        </nav>
    </div>


    {{!-- All the rows are added to results page --}}
    <main>
        <!--Row 1-->
        <h3>Arts & Theater</h3>
        <div id="#arts" class="container">
            <img id="arts1" src="images/ticket-scalper.png" class="rounded" alt="Cinque Terre" width="209" height="175">
            <img id="arts2" src="images/ticket-scalper.png" class="rounded" alt="Cinque Terre" width="209" height="175">
            <img id="arts3" src="images/ticket-scalper.png" class="rounded" alt="Cinque Terre" width="209" height="175">
            <img id="arts4" src="images/ticket-scalper.png" class="rounded" alt="Cinque Terre" width="209" height="175">


        </div>

        <!--Row 2-->

        <h3>Music</h3>
        <div class="container" id="music" >
            <img id="music1" src="images/ticket-scalper.png" class="rounded" alt="Cinque Terre" width="209" height="175">
            <img id="music2" src="images/ticket-scalper.png" class="rounded" alt="Cinque Terre" width="209" height="175">
            <img id="music3" src="images/ticket-scalper.png" class="rounded" alt="Cinque Terre" width="209" height="175">
            <img id="music4" src="images/ticket-scalper.png" class="rounded" alt="Cinque Terre" width="209" height="175">


        <!--Row 3-->

        <h3>Sports</h3>
        <div class="container" id="sports" >
            <img id="sports1" src="images/ticket-scalper.png" class="rounded" alt="Cinque Terre" width="209" height="175">
            <img id="sports2" src="images/ticket-scalper.png" class="rounded" alt="Cinque Terre" width="209" height="175">
            <img id="sports3" src="images/ticket-scalper.png" class="rounded" alt="Cinque Terre" width="209" height="175">
            <img id="sports4" src="images/ticket-scalper.png" class="rounded" alt="Cinque Terre" width="209" height="175">
            <img id="sports5" src="images/ticket-scalper.png" class="rounded" alt="Cinque Terre" width="209" height="175">

        </div>

    </main>






<script src="./js/Homepage.js"></script>