.navbarColor {
    background-color: #171717;
}

.NavbarContainer {
    height: 86px;
}

.navbarMaintext {
    font-family: Sin City;
    font-style: normal;
    font-weight: normal;
    font-size: 15x;
    text-align: center;
    color: #C80101;
    text-shadow: 0px 4px 4px #FFFFFF;
}

.collapseBtn {
    height: 40px;
    width: 56px;
}

.displayImage {
    width: 123px;
    height: 65px;
    border-radius: 10px;
}

#navbarNavAltMarkup {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    text-decoration: none !important;
}

.crop {
    width: 100%;
    height: 346px;
    overflow: hidden;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
}

.corpimg {
    margin: -190px 0 0
}

.searchBarContainer {
    display: flex;
    justify-content: center;
}

.searchBarRow {
    position: relative;
    bottom: 100px;
    width: 657px;
}

.event-genre {
    font-size: 36px;
    overflow-wrap: break-word;
    display: flex;
    margin: 5px 20px;
}

.event-image {
    box-sizing: border-box;
    width: 260px;
    height: 251px;
    background-color: grey;
    margin-left: 21px;
    margin-top: 20px;
    flex-shrink: 0;
}

.footContainer {
    bottom: 0;
    height: 210px;
    left: 0;
    position: relative;
    margin-top: 10%;
    font-family: PT Sans;
    background-color: #171717;
}



.cardContainer {

    display: flex;
    flex-direction: column;

}

.cardRow {
    display: flex;
    flex-direction: row;
    margin: 5% 6%;

}

.cardImage {
    width: 24%;
    border-radius: 3%; 
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);

}

.cardDescription {
    width: 68%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 4%;
}

.cardDescription-p {
    width: 82%;
}

.cardBtnContainer {
    display: flex;
    justify-content: space-evenly;

}

.buttons {
    border-radius: 5px;
    color: #fff;
    background-color: #5c636a;
    border-color: #565e64;
    padding: 1% 1.5%; 
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;


}








@media screen and (max-width: 733px) {
    .displayImage {
        display: none;
    }
}